.section-hedsingle {
    font-family: 'Proxima Nova Bold';
    font-size: 220px;
    color: #fff;
    color: rgba(#979799, 0.12);
    top: 70px;
    left: 0;
    position: absolute;
    
    @media screen and (max-width: 1199px) {
        font-size: 140px;
        top: 10px;
        left: 0;
    }
    @media screen and (max-width: 768px) {
        font-size: 82px;
        left: 0;
        top: 35px;
        right: 0;
        text-align: center;
    }
    &_news {
        @media screen and (max-width: 1199px) {
            left: 15px;
        }
        @media screen and (max-width: 768px) {
            text-align: left;
            left: 10px;
        }
    }
    &_top {
        top: 0;
        line-height: 0.8;
    }
    &_left {
        left: 55px;
        @media screen and (max-width: 1199px) {
            left: 25px;
        }
        @media screen and (max-width: 768px) {
            left: 15px;
        }
    }
    &_grey {
        color: rgba(#979799, 0.12);
    }
    &_white {
        color: #fff;
    }
    &_reviews {
        top: -60px;
        left: 51%;
        line-height: 1;
        @media screen and (max-width: 1199px) {
            left: calc(50% + 40px);
            top: -105px;
            span {
                margin-left: -160px;
            }
        }
        @media screen and (max-width: 768px) {
            left: 15px;
            top: -50px;
            span {
                margin-left: 0;
            }
        }
        .heading_h2 {
            position: absolute;
            left: 75px;
            bottom: -55px;
            @media screen and (max-width: 1199px) {
                left: 0;
                bottom: -5px;
                &:after {
                    margin-left: 0;
                }
            }
        }
    }
    
    
}