.numbers {
    position: relative;
    display: flex;
    align-items: flex-end;
    // padding: 0 15px;
    @media screen and (max-width: 1199px) {
        align-items: flex-start;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        max-width: 540px;
        margin: 0 auto;
    }
    .heading_feature {
        @media screen and (max-width: 1300px) {
            font-size: 50px;
        }
        @media screen and (max-width: 1199px) {
            font-size: 34px;
        }
    }
    &__image {
        width: 75%;
        flex-shrink: 0;
        img {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__feature-block {
        width: 38.77%;
        // width: 610px;
        margin-left: -12.45%;
        margin-top: auto;
        margin-bottom: -40px;
        @media screen and (max-width: 1199px) {
            width: 45.4%;
            flex-shrink: 0;
            margin-top: 25px;
            margin-left: -23.45%;
            margin-bottom: 0;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
            margin-top: 0;
        }
    }
    .feature-block {
        @media screen and (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &:nth-child(2n) {
        flex-direction: row-reverse;
        margin-top: 70px;
        @media screen and (max-width: 1199px) {
            margin-top: 30px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .numbers__feature-block {
            margin-right: -13.45%;
            @media screen and (max-width: 1199px) {
                margin-right: -23.45%;
            }
            
        }
    }
    &__slider {
        position: relative;
        &_nav {
            display: flex;
            justify-content: space-between;
            width: 84.7%;
            @media screen and (max-width: 1199px) {
                width: 100%;
                margin-top: 23px;
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        &__arrows {
            @media screen and (max-width: 1199px) {
                margin-top: 23px;
            }
        }
    }
    .slider__feature-block {
        margin-bottom: 36px;
        @media screen and (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}