.header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	color: #fff;
	transition: background-color 0.6s;
	font-family: 'Proxima Reg';
	&__fix {
		background-color: rgba(#000, 0.4);
		.logo {
			max-width: 200px;
		}
		.header__col_menubtn {
			padding: 20px;
		}
	}
	@media screen and (max-width: 1199px) {
		background-color: #fff;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left {
		i {
			font-size: 21px;
		}
	}
	&__right {
		@media screen and (max-width: 768px) {
			flex: 2 1 auto;
			justify-content: space-between;
		}
	}
	&__switcher {
		padding: 0 34px;
		@media screen and (max-width: 768px) {
			padding: 0;
		}
	}
	&__search {
		color: #fff;
		display: flex;
		align-items: center;
		@media screen and (max-width: 1199px) {
			color: #383a4b;
			padding: 0 20px;
		}
		@media screen and (max-width: 768px) {
			i {
				font-size: 16px;
			}
		}
		.search_btn {
			cursor: pointer;
		}
		&__wrap {
			display: none;
			align-items: center;
			margin-left: 30px;
			@media (max-width: 768px) {
				position: absolute;
				top: 100%;
				margin-left: 0;
				width: 100%;
				left: 0;
				right: 0;
				background-color: #fff;
				padding: 5px;
			}
			&_active {
				display: flex;
			}
			input[type="text"] {
				border: 1px solid #fff;
				border-radius: 2px;
				background-color: transparent;
				padding: 9px 8px;
				font-size: 15px;
				color: #fff;
				@media (max-width: 1199px) {
					background-color: transparent;
					border-color: rgba(#000, 0.5);
					color: rgba(#000, 0.5);
					max-width: 130px;
				}
				@media (max-width: 768px) {
					max-width: 100%;
					width: 100%;
					flex: 2 1 auto;
				}
			}
			.button {
				padding: 10.5px 15px;
				margin-left: 10px;
				@media (max-width: 768px) {
					max-width: 150px;
				}
			}
			::-webkit-input-placeholder,
			:-ms-input-placeholder,
			::-moz-placeholder,
			::placeholder { 
				color: #fff;
				@media (max-width: 1199px) {
					color: #fff;
				}
			  }
		}
	}
}
.phone {
	@media screen and (max-width: 768px) {
		display: none;
	}
	a {
		display: block;
		font-size: 18px;
		text-decoration: none;
		color: #fff;
		@media screen and (max-width: 1199px) {
			color: #383a4b;
			font-size: 16px;
		}
		@media screen and (max-width: 768px) {
			color: #383a4b;
			font-size: 16px;
		}
	}
}
.switcher {
	&__item {
		font-size: 18px;
		text-decoration: none;
		padding: 0 24px;
		color: rgba(#fff, 0.4);
		@media screen and (max-width: 1199px) {
			padding: 0 7px;
			font-size: 15px;
			color: rgba(#383a4b, 0.4);
		}
		&_active {
			color: #fff;
			@media screen and (max-width: 1199px) {
				color: #383a4b;
			}
		}
	}
}
.logo {
	transition: width 0.6s;
	@media screen and (max-width: 1199px) {
		padding-right: 20px;
	}
	&__dec {
		@media screen and (max-width: 1199px) {
			display: none;
		}
	}
	&__mob {
		@media screen and (min-width: 1199px) {
			display: none;
		}
	}
}