ul {
    padding-left: 20px;
    li {
        color: #1e45a1;
        margin-bottom: 7px;
        span {
            color: #252525;
            line-height: 1.4;
        }
    }
}
h1.heading {
    font-size: 82px;
    margin: 0;
    @media screen and (max-width: 1199px) {
        font-size: 44px;
        text-shadow: 1px 1px 0 rgba(#000, 0.4);
    }
}
.h1 {
    font-size: 82px;
    margin: 0;
    @media screen and (max-width: 1199px) {
        font-size: 44px;
        text-shadow: 1px 1px 0 rgba(#000, 0.4);
    }
}
h2, h1 {
    font-size: 58px;
    color: #89898d;
    margin: 0;
    @media screen and (max-width: 1199px) {
        font-size: 34px;
    }
}
h3 {
    font-size: 48px;
    color: #89898d;
    margin: 0;
    @media screen and (max-width: 1199px) {
        font-size: 30px;
    }
}
h4 {
    font-size: 32px;
    color: #89898d;
    margin-top: 0;
    margin-bottom: 24px;
    @media screen and (max-width: 1199px) {
        font-size: 22px;
    }
}
h5 {
    font-size: 28px;
    color: #89898d;
    margin-top: 0;
    margin-bottom: 24px;
    @media screen and (max-width: 1199px) {
        font-size: 22px;
    }
}
.lh {
    line-height: 65px;
    @media screen and (max-width: 768px) {
        line-height: 1.2;
    }
}
.heading {
    &_white {
        color:#fff;
    }
    &_grey {
        color: #89898d;
    }
    &_center {
        text-align: center;
    }
    &__h1 {
        font-size: 82px;
        margin: 0;
        @media screen and (max-width: 1199px) {
            font-size: 44px;
            text-shadow: 1px 1px 0 rgba(#000, 0.4);
        }
    }
    &_h2 {
        font-size: 58px;
        color: #89898d;
        margin: 0;
        @media screen and (max-width: 1199px) {
            font-size: 34px;
            margin-bottom: 20px;
        }
    }
    &_h4 {
        font-size: 32px;
        color: #fff;
        @media screen and (max-width: 1199px) {
            font-size: 22px;
        }
    }
    &_feature {
        margin-bottom: 30px;
        span {
            display: block;
            margin: 0 -15px;
            @media screen and (max-width: 1199px) {
                margin: 0;
            }
        }
        &:after {
            content: '';
            width: 78px;
            height: 1px;
            background-color: #c4c4c6;
            display: block;
            margin: 20px auto 0;
            @media screen and (max-width: 1199px) {
                margin: 10px auto 0;
            }
        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    }
    &_underline {
        margin-bottom: 30px;
        &:after {
            content: '';
            width: 78px;
            height: 1px;
            background-color: #c4c4c6;
            display: block;
            margin: 20px 0 0;
            @media screen and (max-width: 1199px) {
                margin: 10px auto 0;
            }
        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }
    }
    &_underline_left {
        margin-bottom: 30px;
        &:after {
            content: '';
            width: 78px;
            height: 1px;
            background-color: #c4c4c6;
            display: block;
            margin: 20px 0 0;
            @media screen and (max-width: 1199px) {
                margin: 10px 0 0;
            }
        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }
    }
    &_services {
        margin-bottom: 0;
        &:after {
            content: '';
            width: 48px;
            height: 1px;
            background-color: #c4c4c6;
            display: block;
            margin: 10px 0 0;
            @media screen and (max-width: 1199px) {
                display: none;
            }
        }
    }
}