@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jylgzh');
  src:  url('fonts/icomoon.eot?jylgzh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jylgzh') format('truetype'),
    url('fonts/icomoon.woff?jylgzh') format('woff'),
    url('fonts/icomoon.svg?jylgzh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e90d";
}
.icon-360:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-place:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
  color: #ed8a19;
}
.icon-search:before {
  content: "\e905";
}
.icon-refrigerator:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-tv:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-person:before {
  content: "\e90a";
}
.icon-sun-cloud:before {
  content: "\e90b";
}
.icon-ring:before {
  content: "\e90c";
}
.icon-shower:before {
  content: "\e90e";
}
.icon-conditioning:before {
  content: "\e90f";
}
.icon-phone-old:before {
  content: "\e910";
}
.icon-chair:before {
  content: "\e911";
}
.icon-order:before {
  content: "\e912";
}
.icon-bottles:before {
  content: "\e913";
}
.icon-coffee:before {
  content: "\e914";
}
.icon-safe:before {
  content: "\e915";
}
.icon-gazprom:before {
  content: "\e916";
}
.icon-icon--roomguests:before {
  content: "\e917";
}
.icon-icon--roomsize:before {
  content: "\e918";
}
.icon-room:before {
  content: "\e919";
}
