.sl-photo {
    padding-bottom: 80px;
    @media screen and (max-width: 1199px) {
        padding-bottom: 0;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 0;
    }
    &__button {
        margin-top: 40px;
        @media screen and (max-width: 1199px) {
            margin-top: 20px;
            margin-bottom: -40px;
        }
    }
    @media screen and (max-width: 768px) {
        max-width: 540px;
        margin: 0 auto;
    }
    &__item {
        position: relative;
        @media screen and (max-width: 1199px) {
            padding-bottom: 20px;
        }
        @media screen and (max-width: 768px) {
            &.slick-slide {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &:not(.slick-active) img {
            height: 500px;
            object-fit: cover;
            width: auto;
            @media screen and (max-width: 1199px) {
                height: 300px;
            }
            @media screen and (max-width: 768px) {
                height: auto;
            }
        }
        &_image {
            max-width: 100%;
            width: 100%;
            img {
                width: 100%;
                @media screen and (min-width: 1199px) {
                    height: 640px;
                    object-fit: cover;
                }
            }
            @media screen and (max-width: 768px) {
                max-width: 100%;
                min-width: initial;
            }
        }
    }
    .slick-slide {
        padding-right: 50px;
        @media screen and (max-width: 1199px) {
            width: 50%;
            padding-right: 15px;
        }
        @media screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
    .slick-list {
        padding-right: calc(21.8% + 50px);
        @media screen and (max-width: 1199px) {
            padding-left: 0;
        }
        @media screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
    &__arrows {
        position: absolute;
        left: 66%;
        z-index: 100;
        bottom: 0;
        @media screen and (max-width: 1199px) {
            left: auto;
            right: 15px;
            z-index: 101;
        }
    }
    &__pagination {
        position: absolute;
        bottom: 20.5%;
        right: calc(19.3% + 50px);
        z-index: 100;
        @media screen and (max-width: 1199px) {
            // display: none;
            position: relative;
            bottom: auto;
            right: auto;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .slick-track {
        display: flex;
    }
}