.imgtext-block {
    position: relative;
    padding-bottom: 80px;
    img {
        width: 100%;
    }
    &__desc {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 80px);
        background-color: #fff;
        padding: 30px 36px;
        h3 {
            margin-top: 15px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 1199px) {
            padding: 15px 20px;
            width: calc(100% - 18px);
            h3 {
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
        @media screen and (max-width: 1199px) {
            h3 {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }
    &__time {
        color: #4ab0f0;
        font-size: 16px;
        font-family: 'Georgia It';
    }
}