@import 'assets/stylesheet.css';
html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	font-family: sans-serif;
	box-sizing: border-box;
}

html *,
html *:after,
html *:before {
	box-sizing: inherit;
}

body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #252525;
	font-family: 'Proxima Light';
	&.noscroll {
		overflow: hidden;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
}

p {
	font-family: 'Proxima Light';
	margin-top: 0;
	font-size: 18px;
	@media screen and (max-width: 1199px) {
		font-size: 15px;
	}
	&.blue {
		color: #4ab0f0;
	}
	a {
		color: #1e45a1;
		text-decoration: underline;
	}
	strong {
		font-family: 'Proxima Nova Bold';
		color: #252525;
	}
}
ul {
	li {
		a {
			color: #1e45a1;
			text-decoration: underline;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia';
}

.app {
	position: relative; 
	display: block; 
	width: 100%;
	min-height: 100%;
	font-size: 18px;
	@media screen and (max-width: 1199px) {
		font-size: 15px;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-top: 10px;
    li {
		list-style: none;
		width: 6px;
		height: 6px;
		border-radius: 3px;
		background-color: #8f8f92;
		margin: 0 6px;
        button {
            display: none;
        }
	}
	.slick-active {
		background-color: #1e45a1;

	}
}

.text-align-right {
	&_md {
		text-align: right;
	}
}
input, textarea, button, a {
	&:focus {
		outline: none;
	}
}
.d-flex {
	display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.col_9.p-0 {
	padding: 0;
}
.col_12.p-0 {
	padding: 0;
}