@font-face {
	font-family: 'Georgia';
	src: url('fonts/Georgia.eot');
	src: local('Georgia'), local('Georgia'),
		url('fonts/Georgia.eot?#iefix') format('embedded-opentype'),
		url('fonts/Georgia.woff') format('woff'),
		url('fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia Bold';
	src: url('fonts/Georgia-Bold.eot');
	src: local('Georgia Bold'), local('Georgia Bold'),
		url('fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Georgia-Bold.woff') format('woff'),
		url('fonts/Georgia-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Georgia It';
	src: url('fonts/Georgia-Italic.eot');
	src: local('Georgia Italic'), local('Georgia Italic'),
		url('fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Georgia-Italic.woff') format('woff'),
		url('fonts/Georgia-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Reg';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Regular.woff') format('woff'),
		url('fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Light';
	src: url('fonts/ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Light.woff') format('woff'),
		url('fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('fonts/ProximaNova-Semibold.eot');
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Semibold.woff') format('woff'),
		url('fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
// @import 'assets/stylesheet.css';
html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	font-family: sans-serif;
	box-sizing: border-box;
}

html *,
html *:after,
html *:before {
	box-sizing: inherit;
}

body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #252525;
	font-family: 'Proxima Light';
	&.noscroll {
		overflow: hidden;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
}

p {
	font-family: 'Proxima Light';
	margin-top: 0;
	font-size: 18px;
	@media screen and (max-width: 1199px) {
		font-size: 15px;
	}
	&.blue {
		color: #4ab0f0;
	}
	a {
		color: #1e45a1;
		text-decoration: underline;
	}
	strong {
		font-family: 'Proxima Nova Bold';
		color: #252525;
	}
}
ul {
	li {
		a {
			color: #1e45a1;
			text-decoration: underline;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia';
}

.app {
	position: relative; 
	display: block; 
	width: 100%;
	min-height: 100%;
	font-size: 18px;
	@media screen and (max-width: 1199px) {
		font-size: 15px;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-top: 10px;
    li {
		list-style: none;
		width: 6px;
		height: 6px;
		border-radius: 3px;
		background-color: #8f8f92;
		margin: 0 6px;
        button {
            display: none;
        }
	}
	.slick-active {
		background-color: #1e45a1;

	}
}

.text-align-right {
	&_md {
		text-align: right;
	}
}
input, textarea, button, a {
	&:focus {
		outline: none;
	}
}
.d-flex {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.col_9.p-0 {
	padding: 0;
}
.col_12.p-0 {
	padding: 0;
}
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 400ms;
}